.title {
    --tw-text-opacity: 1;
    color: rgb(37 99 235/var(--tw-text-opacity));
    text-transform: uppercase;
    font-weight: 500;
    font-size: .75rem;
    line-height: 1rem;
    font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
}

.desc {
    margin-top: 10px;
    text-align: justify;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: "black !important";
    font-family: __Inter_e7970e, __Inter_Fallback_e7970e, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, "noto sans", sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol", "noto color emoji";
}

.dot {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: #d4d4d4;
}

.rowText {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: "#737373";
    font-family: __Inter_e7970e, __Inter_Fallback_e7970e, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, "noto sans", sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol", "noto color emoji";
}